.selecionarWorkSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.selecionarWorkSpace__workSpaces {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 600px;
    height: fit-content;
    box-shadow: 0 0 5px -1px var(--cor-principal-background);
    border-radius: var(--borda-padrao);
}

.workSpaces__cabecalho {
    display: flex;
    align-items: center;
    width: 100%;
}

.workSpaces__titulo {
    width: 50%;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    border: 2px solid var(--cor-principal-integra);
}

.workSpaces__empresas {
    width: 100%;
}