:root {
  /* Fonte padrão */
  font-family: 'Poppins', sans-serif;

  /* Cores padrão */
  --cor-principal-integra: #002c5f;
  --cor-principal-background: #056A6B;
  --cor-sem-destaque: #afafaf;

  /* Arredondamento de borda padrão */
  --borda-padrao: 5px;

  /* Altura padrão para inputs e botões */
  --altura-focus: 35px;
}

/* Reset de espaçamento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--cor-principal-integra);
}

/* Define o Header sempre na lateral esquerda da página */
.page-container {
  display: flex;
}