:root {
  /* Fonte padrão */
  font-family: 'Poppins', sans-serif;

  /* Cores padrão */
  --cor-principal-integra: #002c5f;
  --cor-principal-background: #29475f;
}

/* Reset de espaçamento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define o Header sempre na lateral esquerda da página */
.page-container {
  display: flex;
}